<form [formGroup]="form" (ngSubmit)="login()">
  <div>
    <input type="email" name="email" placeholder="Email" formControlName="email">
  </div>
  <div>
    <input type="password" name="password" placeholder="Password" formControlName="password">
  </div>
  <div>
    <button type="submit">Login</button>
  </div>
</form>

<!-- <mat-card>
  <form form-group="form" (ngSubmit)="login()">
    <mat-input-container>
      <input matInput type="email" placeholder="Email" formControlName="email" />
    </mat-input-container>
    <mat-input-container>
      <input matInput type="password" placeholder="Password" formControlName="password" />
    </mat-input-container>
    <button mat-raised-button type="submit" color="primary">Login</button>
  </form>
</mat-card> -->